{% extends 'email/base_email.html.twig' %}

{% block content %}

	<row>
		<columns>

			<h3>Bonjour
				{{ parrainage.beneficiaryFirstName | capitalize }}
			</h3>

			<p>Votre ami
				{{ fromUser.firstName | capitalize  }}
				souhaite vous parrainer sur paramall.tn.</p>

			<p>Inscrivez vous sur notre site et offrez lui 4 DT de réduction lors de votre première commande.</p>

			<button href="{{ frontUrl }}">Visiter notre boutique en ligne
			</button>

		</columns>
	</row>


{% endblock %}
