<h4>Bonjour {{ parrainage.beneficiaryFirstName }}</h4>

<p>{{ fromUser.firstName }} souhaite vous parrainer.</p>

<p>Inscrivez vous sur notre site et offrez lui 4 DT de réduction.</p>

<p><a href="https://paramall.tn/">Inscrivez vous</a></p>