<h4>Bonjour {{ fromUser.firstName }}</h4>

<p>Suite à votre parrainage au {{parrainage.beneficiaryFirstName }} vous venez de gagner {{ incrementedPoints }} points</p>

<p>Votre solde actuel est {{ newPoints }} points</p>