<h3>Bonjour {{ data.recipientName }}</h3>

<p> {{ user.firstName }} souhaite partager avec vous son wishlist</p>

<p>Cliquer sur le lien suivant pour voir les produits qu'il souhaite commander sur paramall.tn</p>

<a href="https://paramall.tn/shared/wishlist/{{user.id}}">https://paramall.tn/shared/wishlist/{{user.id}}</a>