{% extends 'email/base_email.html.twig' %}

{% block content %}

	<row>
		<columns>

			<h4>Bonjour
				{{ user.firstName }}
			</h4>

			<p>Afin de changer votre mot de passe veuillez cliquer sur le lien suivant</p>

			<button href="{{ frontUrl ~ "/forgetpassword/reset/" ~ token }}">Changer mon mot de passe
			</button>

		</columns>
	</row>

{% endblock %}
