{% extends 'email/base_email.html.twig' %}

{% block content %}

	<row>
		<columns>

			<h4>Bonjour</h4>

			<p>Les produits suivants sont en rupture de stock</p>

			<ul>

				{% for product in outOfStock %}

					<li>{{ product.title }}</li>

				{% endfor %}

			</ul>

		</columns>
	</row>

{% endblock %}
