@import "~bootstrap/scss/_functions";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

$primary: #03cecb;

$dark: #0A0A0A;

$font-family-base: 'Roboto', sans-serif;

$font-weight-base: 400;

@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/bootstrap";

.fw-medium {

    font-weight: 500 !important;
}